*{
    padding: 0%;
    margin: 0%;
}
a{
    text-decoration: none;
}
body{
    background-color:#11C76F;
}
header{
    display: flex;
    background-color: rgb(253, 253, 249);
    height: 40px;
    align-items: center ;
    justify-content: end;
    /* border-radius: 15%; */
    p{
        margin: 3%;

    }
}
.mensagem{
    display:flex;
    flex-direction: column;
    width: 40%;
    height: 450px;
    background-color:aliceblue;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 5%;
   
}
.formulario{
    height: 30%;
    width: 30%;
    margin-top: 10%;
    margin-left: 18%;
    padding: 15%;
}
.criarConta{
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 75px;
    background-color: rgb(240, 240, 240);
    border:  solid black 1px;
}
#envia{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 75px;
    background-color: rgb(240, 240, 245);
    border:  solid black 1px;
}
/* #envia{
    height: 25px;
    width: 75px;
    border:  solid black 1px;
} */
.botao{
    display: flex;
    align-items: center;
    justify-content:space-around;
}