*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:#11C76F;
}
header{
    display: flex;
    background-color: rgb(253, 253, 249);
    height: 40px;
    align-items: center ;
    justify-content: end;
    /* border-radius: 15%; */
    p{
        margin: 3%;

    }
    button{
        border: none;
        background-color: rgb(253, 253, 249);
        margin: 5px;
        cursor: pointer;

    }
}
#frase{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7%;
    font-size: 50px;
}
.botoes{
    display: flex;
    justify-content: center;
    color: black;
}
a{
    text-decoration: none;
}
.jogo{
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
    margin: 1.5%;

}
.regra{
    display: flex ;
    margin: 1.5%;
    width: 200px;
    height: 50px;
    background-color:aliceblue;
    align-items: center;
    justify-content: center;
}
.mensagem{
    margin-top: 5%;
    margin-left: 25%;
    height: 50%;
    width: 50%;
    background-color: aliceblue;
    border-radius: 5%;
}
/* .Jogar{
    padding: 0.8%;
    width: 10%;
    display: flex;
    justify-self: center;
    font-size: 100%;
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
} */
table{
    border: 2px solid black;
    width: 150px;
    
}
th{
    border-bottom: 2px solid black;
}
td{
    border-right: 2px solid black;
}

.tabela{
    display: flex;
    align-items: center;
    justify-content: center;
}
.close{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-top: -20px;
    align-items: center;
    span{
        margin-top: -5px;
    }
}
.video{
    align-self: center;
    width: 500px;
}
.modal-content{
    height: 500px;
    width: 700px;
}
img{
    width: 600px;
}