*{
    padding: 0%;
    margin: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body{
    background-color: #11C76F;
}

header{
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem linha em telas menores */
    align-items: center ;
    justify-content: space-between;
    background-color: rgb(253, 253, 249);
    height: 70px;
    h2{
        margin-left: 7%;

    }
}
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.card{
    background-color: aliceblue;
    width: 
    100%;
    border-radius: 20px;
}

.divImg{
    display: flex;
    justify-content: end;
     
}
.img{
    justify-self: end;
    width: 25%;
 } 
#tudo{
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem linha em telas menores */
    justify-content: center; /* Centraliza os cards */
    gap: 15px; /* Espaço entre os cards */
    width: 90%;
    margin: auto;


}
.texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 253, 253);
    border-radius: 15px;
    height: auto; /* Ajusta a altura automaticamente */
    width: 250px; /* Define uma largura padrão */
    padding: 15px;
    text-align: center;
    border: white 5px solid;
}
.Jogar{
    padding: 0.8%;
    width: 10%;
    display: flex;
    justify-self: center;
    font-size: 100%;
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
}

dialog::backdrop{
    background-color:rgba(0, 0, 0, 0.3); /*parte de tras do popup */
}
.pop{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: baseline;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 1em rgb(0 0 0/ .3);
    margin-left: 100px;
    height: 300px;
    width: 80%;
    p{
        margin-left: 2%;
    }
}
.dia{
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
}
.textodia{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    .divImg{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        margin: 2%;
        img{
            width: 50%;
            height: 75%;
        }

    }
    
}
.titulo{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;

}
.titulo button{
   margin-right: 2%;
    width: 5%;
    font-size: 1.25rem;
    height: 5%;
}

.descricao{
    text-align: left;
    width: 70%;
    border: none;
}
.livro{
    margin-right : 2%;
}
.aaaimg{
    width:25px;
}

.trite{
    .divImg{
        width: 172px;
        img{
            height: 260px ;
        }
    }
 }
 .cronometro{
    text-align: center;
    border-radius: 5px;
    height: 30px;
}
.validacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
}

.selecionado{
    box-shadow: 0 0 0 5px rgba(0, 0, 255,0.5)
}
.pontos{
    display: flex;
    align-items: center;
    width: 100%;
}
#imgRes{
    display: flex;
    justify-content: center;
    img{
        width: 100px;
    }
}
#teste{
    opacity: 0;
}
.base{
    align-self: center;
    button{
        height: 30px;
        width: 100px;
    }
}

.aplicacao{
    margin: 20px;
}
#res{
    
    height: 50px;
}
@media (max-width: 768px) {
    #tudo {
        flex-direction: column; /* Empilha os cards em telas pequenas */
        align-items: center; /* Centraliza os itens */
    }
    header{
        height: auto;
    }
    .Jogar {
        width: 20%; 
        text-align: center;
    }
}

